<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Context:</strong>
  <%= simple_format @post.context %>
</p>
<%= simple_format @post.context %>
<p>
  <strong>Is published:</strong>
  <%= @post.is_published %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<hr>
<h2>Comments</h2>
<p> Write your comments</p>

<% @post.comments.each do |comment| %>
  <p>
    <%= comment.author %> said at <%= time_ago_in_words comment.created_at %>:<br>
    <%= comment.content %>
  </p>
<% end %>
